
.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}
table {
  
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%; 
  margin-left: auto; /* Auto margin for centering horizontally */
  margin-right: auto; /* Auto margin for centering horizontally */
  margin-top: 50px; /* Add top margin for some space */
}

 /*body {
  height: 100vh; 
  display: flex;
  justify-content: center; // Centers the table horizontally 
  align-items: center; // Centers the table vertically 
  margin: 0; // Removes default body margin 
} */


td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


